.hero-product{
    background-color: #F6F8FA;
    margin-top: 20px;
    padding: 50px;
    border-radius: 24px;
    border: 1px solid  navajowhite;



    
    

    
}
.product-card {
    background-color: #fff;
    border-radius: 24px;
    padding: 11px;


}

.product-card-image  {
    position: relative;
  



}

.product-card-image img  {
    border-radius: 15px;

}




.product-card-tag {
   position:absolute;
    border-radius: 20px;
    padding: 11px;
    color: #fff;
    right: 15px;
    top: 15px;

    background-color: #1f4b43;
}
.product-card-info {
    padding: 15px;
   
}
.product-card-info-top {
    display: flex;
    justify-content: space-between;
   margin: 10px;
}
.product-card-info-top-title .add{
   
    color: gray;
}
.product-card-info-top-price span {
    color: red;
}

.product-card-info-bottom {
    display: flex;
    
    gap: 20px;
}

.product-card-info-bottom div {
    color: gray;
}

.product-card-info-top-title .address {
     color: gray;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;

}
.icon-bed {
    background-image: url(../img/slider/Vector.png);
}

.icon-bath {
   background-image: url(../img/slider/Vector1.png);
}

.icon-sqft {
    background-image: url(../img/slider/Icon.png);
}

.section-title {
    font-size: 1.1rem;
    font-weight: 500;
}

.product-feature-card 
{
    position: relative;

    
}
.product-feature-card-text {
  position: absolute;
  padding: 16px;
  

}
.product-feature-card-text  {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: #fff;
    font-size: 1rem;




}
.product-feature-card-image {
    border-radius: 14px;
   overflow: hidden;
   position: relative;

}
.product-feature-card-image::before {
    content: '';
    height:100%;
    width: 100%;
    background-color: rgba(0,0,0, .3);
   position: absolute;
}

.why-choose-us {
    background-color: #e7c873;
    padding: 60px 60px;
    border-radius: 15px;
    
    
}

.why-choose-us-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;



}
.why-choose-us .col-3 {
    padding: 55px;
}

.best-properties-card {
    position: relative;
}

.best-properties-card-tags {
    position: absolute;
    padding: 20px;
   
}
.best-properties-card-tags span {
    
    text-transform: uppercase;
}
.best-properties-card-tags .gold {
    background-color: #e7c873;
    border-radius: 10px;
    padding: 5px;
    
}

.best-properties-card-tags .green {
    background-color: #1f4b43;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    
}


.best-properties-card-info {
    position: absolute;
    left: 0;
    bottom:0;
    padding-bottom: 50px;
    color: #fff;
}

.best-property-c {
    position: relative;
}

.best-property-c-desc {
    position: absolute;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    

}

.best-property-c-desc span {
    padding: 15px;
    color: #fff;
}

.best-property-c-desc .span-a {
    font-size: 35px;
    font-weight: 800;
}

.best-property-c-desc .span-b {
    font-weight: 500;
   
}

.best-property-c-image {
    position: relative;
}

.best-property-c-image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .3);
    
}

.best-properties-c-image::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(26, 26, 26, 0.8) 100%);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.local-expertise {
    background-color: #1f4b43;
}



.local-expertise-image {
    position: relative;

}

.local-expertise-image img {
  
    

}

.local-expertise-image-tag {
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: #ffff;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;




}

.local-expertise-image-tag-icon {
    background-position: center;
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #faf4e3;
    border-radius: 20px;
   
   



}

.button{
    background-color: #e7c873;
    border-radius: 6px;
    display: inline-flex;



   



  
    

    

}

.col-3 span {
    color: #e7c873;
}

.icon-star{
    background-image: url('../img/slider/stars.svg');
    height: 17px;
    width: 17px;
    background-size: contain;
    filter: grayscale(0);
    display: inline-block;




}

.deactive-gray 
 {
    filter: grayscale(1);
 } 


.icon-virgul {
    background-image: url('../img/slider/virgul.png');
    background-size: contain;
    height: 35px;
    width: 35px;
    

    
   
    
}

.btn-2 {
    padding: 12px;
    margin: 12px;
    border: #fff;
    border-radius: 50%;
    background-color: #fff;
    transition: .2s;
   
    

}
.btn-2:hover {
    background-color: #faf4e3;

}


.recent-article {
    background-color: #fff;
    border: 1px solid beige;
    border-radius: 10px;

    
    


    &-image {
        img {
         border-radius: 10px;
         display: block;
         max-width: 100%;

         
         
        }
     

      
    }

    &-content {
        background-color: #ffff;
        padding: 15px;
        width: 100%;
        height: 100%;
       
       
        &-top {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
          span {
            display: flex;
            align-items: center;

            &:not(:last-child)::after {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #3d3e3f;
                margin: 0 10px;
 
              
            }
            
           
           
          }
        }
        &-middle {
            text-align: center;
            font-weight: 700;
            padding-top: 10px;
        }
        &-bottom {
            display: flex;
            justify-content: center;
            gap: 15px;
            align-items: center;
            padding-top: 5px;

            
            
            
            a { 
               
                text-align: center;
                font-weight: 500;
                text-decoration: none;
                color: black;
                padding-top:7px ;
                transition: .2s;
                border-radius: 4px;
                padding: 5px;

            }
            a:hover {
                background-color: rgb(233, 224, 224);
            }
            img {
                width: 20px;
                height: 20px;
                overflow: hidden;
                padding-top: 6px;
                
               
            }
           
        }
    }
}

     





