.hero-product{
    background-color: #F6F8FA;
    margin-top: 20px;
    padding: 50px;
    border-radius: 24px;
    border: 1px solid  navajowhite;



    
    

    
}
.product-card {
    background-color: #fff;
    border-radius: 24px;
    padding: 11px;


}

.product-card-image  {
    position: relative;
  



}

.product-card-image img  {
    border-radius: 15px;

}




.product-card-tag {
   position:absolute;
    border-radius: 20px;
    padding: 11px;
    color: #fff;
    right: 15px;
    top: 15px;

    background-color: #1f4b43;
}
.product-card-info {
    padding: 15px;
   
}
.product-card-info-top {
    display: flex;
    justify-content: space-between;
   margin: 10px;
}
.product-card-info-top-title .add{
   
    color: gray;
}
.product-card-info-top-price span {
    color: red;
}

.product-card-info-bottom {
    display: flex;
    
    gap: 20px;
}

.product-card-info-bottom div {
    color: gray;
}

.product-card-info-top-title .address {
     color: gray;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;

}
.icon-bed {
    background-image: url(../img/slider/Vector.png);
}

.icon-bath {
   background-image: url(../img/slider/Vector1.png);
}

.icon-sqft {
    background-image: url(../img/slider/Icon.png);
}



